html,
body,
#root {
    background-color: #05161A;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 40px;
    margin-bottom: 10px;
}

.stored-secrets-title {
    text-align: center;
    color: #555;
    margin: 0;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"] {
    margin: 10px;
    padding: 10px;
    width: 350px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    padding: 10px 15px;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.export,
.import {
    background-color: #ff6464;
    color: white;
}

.container {
    width: 100%;
}

.container-secrets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.secret-item {
    background-color: #08272e;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-width: 100%;
    align-self: center;
    width: 65%;
}

.secret-name {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.otp-code {
    font-size: 40px;
    color: #ccc;
    cursor: pointer;
}

.delete-button {
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f44336;
    color: white;
}

.delete-button:hover {
    background-color: #e53935;
}