.secret-item {
    background-color: #12121c;
    border: 1px solid #313244;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-width: 100%;
    align-self: center;
    width: 65%;
}

.secret-name {
    font-size: 30px;
    font-weight: bold;
    color: #dae0f3;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.otp-code {
    font-size: 40px;
    color: #ccc;
    cursor: pointer;
}

.delete-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f44336;
    color: #cdd6f4;
}

.delete-button:hover {
    background-color: #e53935;
}